<%= image_tag("logo.gif", size: "272x48", alt: "Morning Glory") %>

<div class="menubar">
<%= menu_link_to "TOP", root_path %> &nbsp; |&nbsp;
<%= menu_link_to "News", "#" %> &nbsp; |&nbsp;
<%= menu_link_to "Blog", "#" %> &nbsp; |&nbsp;
<%= menu_link_to "List", "#" %> &nbsp; |&nbsp;
<%= menu_link_to "Admin", "#" %>
</div>
